@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,400&family=Varela+Round&display=swap');

*{
margin: 0;
padding: 0;
}
body{
    background-color: #0a0a0a;
    font-family: 'Varela Round', sans-serif;
    
}
.brand img{
    width: 55px;
    padding: 0px 12px;
}
nav{
    font-family: 'Ubuntu', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: #333333;
    color: white;
}
nav ul li{
    padding: 0px 12px;
}
.brand{
    display: flex;
    align-items: center;
}
.selected {
    border: 2px solid #77af7b;
    border-radius: 32%;
    color: #77af7b;
    padding: 6px 13px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
  }
.container{
    min-height: 72vh;
    background-color: #000;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    padding-bottom: 130px;
}
.bottom{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 130px;
    background-color: #111111;
    opacity : 95%;
    color: white;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
.container1{
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 18px;
    font-size: 12px;
    color: #e2e2e2d8;
}
.container2{
    padding: 0 10%;
    display: flex;
    height: 70px;
    flex-direction: row;
    align-items: center;
    padding-bottom: 30px;
}
.left-pane{
    width: 35%;
    display: flex;
    align-items: center;
}
.center-pane{
    width: 30%;
    text-align: center;
    justify-content: center;
}
.right-pane{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.center-pane .icons i{
    padding: 0 5px;
}

#myProgressBar{
    margin: 0 10px;
    width: 70%;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
} 

.fa-2x:hover{
    color: #22b656;
}
.fa-heart{
    margin-left: 10px;
    font-size: 18px;
    color: rgb(228, 62, 98);
}
.fa-heart:hover{
    color: rgb(255, 103, 136);
    font-size: 20px;
    transition: font-size 0.1s ease-in;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: #fff;
    color: #141010;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
    width: 40px;
    margin: 0 23px;
    border-radius: 50%;
}
.timestamp{
    margin: 0 23px;
    
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    font-family: 'Varela Round', sans-serif;
}
#currentSongName{
 padding-left: 10px;
}

#gif{
    opacity: 0;
    transition: opacity 0.3s ease-in;
}
.volumeBar{
    width: 72px;
}
#mute{
    padding: 0px 15px;
}
.songlistplay{
    display: flex;
    align-items: center;
    align-self: center;
}

/* footer */

input[type="range"] {
  overflow: hidden;
  -webkit-appearance: none;
  margin-right: 15px;
  height: 7px;
  background-color: rgba(121, 121, 121, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(##5e5e5e, ##5e5e5e);
  background-repeat: no-repeat;
}
input:focus {
    box-shadow: none;
    outline: none;
  }
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  box-shadow: -1000px 0 0 995px #22b656;
  -webkit-user-select: none;
 
}
li a{
    color: #22b656 ;
    text-decoration: none;
    font-weight: 500;
    
}
.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media only screen and (max-width: 650px) {
    /* For mobile phones: */
    .songItemPlay{
        padding-left: 2%;
    }
    #currentSongName{
        font-size: 12px;
    }
    .center-pane .icons i{
        font-size: 24px;

    }
    .songName{
        display: flex;
        font-size: 12px;
    }
    #gif{
        width: 20%;
    }
    #mute{
        font-size: 12px;
        padding: 4px;
    }
    .timestamp{
        font-size: 12px;
    }
}
  @media only screen and (max-width: 520px) {
    /* For mobile phones: */
    #currentSongName{
        font-size: 10px;
    }
    #gif{
        display: none;
    }
    #favourite{
        display: none;
    }
  }

  @media only screen and (max-width: 420px) {

    /* For mobile phones: */
    .center-pane .icons i{
        font-size: 20px;
        padding: 2%;

    }
    #cover{
        width: 20%;
    }
    #currentSongName{
        font-size: 10px;
    }
    nav ul li{
        display: none;
    }
    nav ul{
        padding: 0%;
        justify-content: center;
    }

}